@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
  height: 85vh;
} */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.brand {
  display: flex;
  flex-direction: row;
  
}
.brand-name {
  width: 169px;
height: 40px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 33px;
line-height: 40px;

color: #727272;
}
#no-travellers {
display: none;
}
.space {
  width: 200px;
}

a {
  color: #F18701;
}
.nav-links li a:hover { 
  color: #F18701;
  text-decoration: none;
}
nav{
    display: flex;
    /* justify-content: space-around; */
    /* min-height: 20%; */
    align-items: center;
    background-color: #F7F7F7;
}

/* .nav-links {
  margin: 0px;
  padding: 0px
} */

.talk {
  border: 2px solid #F06C1F;
  box-sizing: border-box;
  border-radius: 3px;
  width: 198.25px;
height: 49.99px;
}
.talk span {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;text-align: center;
color: #F18701;
justify-content: center;
align-items: center;
}
.logo {
    display: flex;
}

.headerName{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 33px;
    line-height: 40px;
    left: 50px;
}
.nav-links {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 130% ;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #666666;
}


.afro {
  background-image: url('./img/afro.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 30.4%

}

.afro span {
  width: 297px;
height: 49px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
}
.afro p {
  width: 397.95px;
height: 98.5px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 23px;
}

.spanButton {

  padding: 0;
  border: none;
  width: 228px;
height: 49.08px;
justify-content: center;
align-items: center;
color: #ffffff;
background: #F18701;
border-radius: 3px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: center;
}

.afro {
  color: #FFFFFF
}


/* .cardDivs {
  padding-top: 350px;
  position: absolute;
}
.card {
  padding: 10px;
  width: 320px;
height: 462px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

background: #FFFFFF;
border: 1px solid rgba(184, 184, 184, 0.64);
box-sizing: border-box;
box-shadow: 0px 0px 63px rgba(0, 0, 0, 0.11);
border-radius: 8px;
}

.card-title{
  width: 219.63px;
height: 22.42px;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #353535;
}

.card-text {
  width: 259.58px;
height: 83.08px;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 35px;
text-align: center;

color: #7E7E7E;
}

.card button {
  width: 177px;
height: 61px;

background: #F18701;
border-radius: 3px;
} */

.whyVisa {
  display: flex;
  height: 490px;
  background-image: url("./img/why.png");
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.howItWorks {
  /* width: 275px;
height: 49px; */
/* left: 582.17px;
top: 1646.2px; */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
padding-top: 50px;
text-align: center;
color: #6D6D6D;
}
/* .howItWorks-cards{
   width: 311.5px; 
height: 297.09px;

background: #F06C1F;
border-radius: 5px;
} */
.card {
  background-color: #F3F3F3;
  /* width: 311.5px;
height: 297.09px; */
}
/* .card-deck .card .card-body  {
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 20px;

color: #FFFFFF;
}
.card .card-body .card-text {
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
} */

.youtube {
  height: 300px;
  background-image: url("./img/youtube.png");
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 align-items: center;
 justify-content: center
}

.faq {
  width: 594px;
height: 49px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
color: #6D6D6D;
}

.questions {
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.question-li {
  padding-left: 20px;
  width: 256px;
height: 32px;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
display: flex;
align-items: center;

color: #6D6D6D;
}

.collapse {
  width: 771.09px;
height: 46.27px;
left: 386px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #A3A3A3;
}

.chat-collapse {
  position: absolute;
width: 400.43px;
height: 86.14px;
left: 900px;
top: 50.08px;

background: #F18701;
z-index: 100;
}
.chat-collapse-body {
  position: absolute;
  width: 400.43px;
  height: 528px;
  left: 900px;
  top: 136.08px;
border: 1px solid rgba(0, 0, 0, 0.05);
  background: #ffffff;
  z-index: 100;
}

.bb{
  background-color: #2c2d33;
}
@media (max-width: 1024px) { 
 #hidden {
   display: none;
 } 
}

@media (max-width: 838px) { 
  section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

  .rect h3 {
      font-size: 30px;
      line-height: 35px;
      display: flex;
      align-items: flex-start;
  }
  .rect p {
      font-size: 20px;
      line-height: 29px;
  }
  .formDiv {
    width: 601.21px;
    height: 446.74px;
    padding: 20px;
    margin-bottom: 50px;
    
    }
    
    .input-section {
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
    }
    .rinput-section {
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
    }
    
    
    input.user-input {
      background: #F9F9F9;
      border: 1px solid rgba(0, 0, 0, 0.18);
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid #ddd;
      width: 415.05px;
      height: 61px;
      padding-left: 30px;
    }
    
    .ruser-input {
      background: #F9F9F9;
      border: 1px solid rgba(0, 0, 0, 0.18);
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid #ddd;
      width: 415.05px;
      height: 51px;
      padding-left: 30px;
    }
    
    
    /* .btn {
      width: 415.05px;
      height: 64px;
      background: #F18701;
      border-radius: 3px;
    }
    .btn-reg {
      width: 415.05px;
      height: 51px;
      background: #F18701;
      border-radius: 3px;
    } */
 }
 @media (max-width: 644px) { 

  #hidden-see-how {
    display: none;
  }
  .rect h3 {
      font-size: 30px;
      line-height: 28px;
      display: flex;
      align-items: flex-start;
  }
  .rect p {
      font-size: 20px;
      line-height: 25px;
  }
  .formDiv {
    width: 550.21px;
    height: 400.74px;
    padding: 20px;
    margin-bottom: 50px;
    
    }
    
    .input-section {
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
    }
    .rinput-section {
      justify-content: center;
      align-items: center;
      padding-bottom: 12px;
    }
    
    
    input.user-input {
      background: #F9F9F9;
      border: 1px solid rgba(0, 0, 0, 0.18);
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid #ddd;
      width: 370.05px;
      height: 56px;
      padding-left: 20px;
    }
    
    .ruser-input {
      background: #F9F9F9;
      border: 1px solid rgba(0, 0, 0, 0.18);
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid #ddd;
      width: 370.05px;
      height: 46px;
      padding-left: 20px;
    }
    
    
    /* .btn {
      width: 370.05px;
      height: 64px;
      background: #F18701;
      border-radius: 3px;
    }
    .btn-reg {
      width: 370.05px;
      height: 51px;
      background: #F18701;
      border-radius: 3px;
    } */
 }
 @media only screen and (max-width: 375px) { 
  
  section{
    height: auto;
    left: 1px;
    margin: 0px;
}
  h1 {
  font-size: 26px;
  line-height: 34px;
}

  .rect {
    padding: 0px;
    margin: 0px;
  }
  .rect h3 {
      font-size: 30px;
      line-height: 28px;
      display: flex;
      align-items: flex-start;
  }
  .rect p {
      font-size: 20px;
      line-height: 25px;
  }
  .formDiv {
    width: 260.21px;
    height: 350.74px;
    padding: 0px;
    margin-bottom: 50px;
    
    }
    
    .input-section {
      justify-content: center;
      align-items: center;
      padding-bottom: 12px;
    }
    .rinput-section {
      justify-content: center;
      align-items: center;
      padding-bottom: 8px;
    }
    
    
    input.user-input {
      background: #F9F9F9;
      border: 1px solid rgba(0, 0, 0, 0.18);
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid #ddd;
      width: 200.05px;
      height: 46px;
      padding-left: 15px;
    }
    
    .ruser-input {
      background: #F9F9F9;
      border: 1px solid rgba(0, 0, 0, 0.18);
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid #ddd;
      width: 200.05px;
      height: 39px;
      padding-left: 15px;
    }
    
    
    /* .btn {
      width: 200.05px;
      height: 55px;
      background: #F18701;
      border-radius: 3px;
    }
    .btn-reg {
      width: 200.05px;
      height: 45px;
      background: #F18701;
      border-radius: 3px;
    } */
    .ll{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 5px;
    }
    .forgot-password {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    margin:5px;
    }
    .check-box span {
      font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    }
    .vector {
    height: 32.42px;
    margin-top: 5px;
    }

    /**
    HOME.HTML
    */

    .spanButton {
      width: 228px;
    height: 49.08px;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    }
 }